:root{
    --gray:#e5e5e5;
    --shadow: rgba(0,0,0,0.2);
    --white:#ffffff;
    --black:#000000;
}
html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: var(--white);   
}
header {
    background-color: white;
    padding: 1.5em;
    box-shadow: 1px 1px 15px rgb(170, 170, 170);
    height:75px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    
}
.top-menu {
    min-width: 12%;
    display: flex;
    align-items: center;
    text-align: right;
}

.top-menu .links-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-menu .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    background-color:  #efc7c2d3;
    margin:0px 10px 10px 11px;
    padding-inline:6.5px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.links a{
    text-align: center;
    padding-top:8px;
    padding-bottom:7px;
}
.dropdown {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dropdown span{
    width: 100%;
    padding:10px 6px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown:hover .links {
    height: max-content;
    width: 100%;
}
.dropdown:hover span{
    background-color:  #efc7c2d3;
}


.top-menu a, span {
    list-style-type: none;
    display: inline;
    margin-inline: 0px;
}

.top-menu a, span {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.food-poster{
    background-color: #f7b5aeb9;
}
.ingredients{
    background-color: #f7b5ae;
}
.main p{
    line-height: 30px;
}
aside{
    text-align: center;
}
.summary{
    border: solid 3.5px  #f7b5ae;
    padding: 30px;
 
    text-align: left;
}
.divider{
    display:block; 
    margin-left: auto; 
    margin-right: auto
}
 button{
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-top: 10px;
}
.icons{
    width: 50px;
}

footer{
    background-color: white;
    box-shadow: 1px 1px 15px rgb(170, 170, 170);
    text-align: center;
    padding: 15px;
}
#myBtn {
    position: sticky;
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 2500px;
    background-color: #A7C7E7;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 12px 12px 12px 12px;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    transition: 0.3s;
  }
  #myBtn:hover {
    opacity: 0.7;
  }
  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
@media screen and (min-width:360px) {
    header{
        margin: auto;
    }
    .top-menu a{
        margin-right: 6px;
    }
    #logo{
        width: 110px;
        margin-top: 10px;
        margin-right: 30px;
    }

    #container{
        display:grid;
        grid-template-columns: 100%;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .top-menu > * {
        width: 65px;
        text-align: center;
    }
    .top-menu a, span {
        font-size: 15px;
    }
    .main{
        margin: 0px 50px 20px 50px;
        font-size: 1.2em;
    }
    .divider{
        width: 56%;
    }
    
    table img{
        width:160px;
    }
    footer{
        margin: auto;
    }
}
@media screen and (min-width:1280px){
    header{
        margin: 0px 20px 0px 20px;
    }
    #logo {
        width: 150px;
        height: auto;
        margin:0px;
    }
    .top-menu > * {
        width: 100px;
        text-align: center;
    }
    .top-menu a, span {
        font-size: 20px;
    }
    #container{
        display: grid;
        grid-template-columns: 70% 30% ;
    }
    .main{
        margin:50px 20px 20px 20px; 
        text-align: justify;
    }
    .food-poster{
        width:90%;
        border-radius: 3px;
        margin-bottom: 50px;
    }
    .food-poster img{
        width: 100%;
        border-radius: 3px 3px 0px 0px;
    }
    .food-poster h1{
        font-size: 1.5em;
        padding: 5px 0px 25px 15px;
    }
    .checkbox{
       color: #f7b5ae;
    }
    aside{
        margin:50px 20px 20px 20px; 
        font-size: 1.3em;
    }
    .summary{
        margin-bottom: 20px;
    }
    .divider{
        width: 20%; 
    }
    footer{
        margin: 100px 20px 0px 20px;
    }
 
}
 
 

