:root{
    --gray:#e5e5e5;
    --light-blue:#A7C7E7;
    --shadow: rgba(0,0,0,0.2);
    --light-lila:#e6e6fa;
    --white:#ffffff;
    --black:#000000;
}
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: var(--white);   
}
header {
    background-color: white;
    padding: 1.5em;
    box-shadow: 1px 1px 15px rgb(170, 170, 170);
    height:75px;
    margin: 0px 20px 0px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    
}
.top-menu {
    min-width: 12%;
    display: flex;
    align-items: center;
    text-align: right;
}


.top-menu .links-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-menu .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    background-color:  #efc7c2d3;
    margin-top: 0;
}
.links{
    margin:8px;
    margin-left: 10px;
    padding-inline:0px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size:20px ;
    
}
.links a{
    text-align: center;
    padding-top:7px;
    padding-bottom:7px;
}
.dropdown {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dropdown span{
    width: 100%;
    padding:10px 0px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown:hover .links {
    height: max-content;
    width: 100%;
    text-align: left;
}
.dropdown:hover span{
    background-color:  #efc7c2d3;
}
.links:hover {
    transition: all 1s 0ms ease-in;   
}

.top-menu a, span {
    list-style-type: none;
    display: inline;
    margin-inline: 0px;
}

.top-menu a, span {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.top-menu a:hover, .top-menu span:hover {
    color: var(--brown);
}
img{
    width:100px;
}

#container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.recipe-links{
    margin:20px 0px 20px 10px; 
}

.card{
    
    text-align: center;
    background-color: #efc7c2d3; 
    border-radius: 1%;
}
.food-img img{
    width:100%;
    border-radius: 1%;
}
.food-img h2{
    text-align: left;
    padding-left: 20px;
    font-size:21px;
    color:#562e2eee;
}
.food-img button{
    width:50%;
    border:none;
    padding: 17px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    color:#f7b5ae;
    transition-duration: 0.3s ;
    
}
.food-img button:hover{
    background-color: #f7b5ae;
    color: white;
}
.main{
    text-align: justify;
}
.about-me{
    text-align: center;
}
.avatar{
    border-radius: 50%;
    width:39%;
    margin-top:25px;
}
.about-me p{
    text-align: center;
    margin: 20px;
}
.about-me button{
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-top: 10px;
}
.icons{
    width: 50px;
}
table{
   margin: auto;
   margin-top: 40px;
   
}
table img{
    width: 200px;
}
.wrapper {
    position: relative;
    width: 100%;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f7b5ae;
  }
  .overlay a{
    text-decoration: none;
  }
  .wrapper:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
 

footer{
    background-color: white;
    box-shadow: 1px 1px 15px rgb(170, 170, 170);
    text-align: center;
    padding: 15px;
    margin: 100px 20px 0px 20px;
}
@media screen and (min-width:375px) {
    #logo{
        width: 100px;
        margin-top: 10px;
    }

    #container{
        display:grid;
        grid-template-columns: 100%;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .top-menu > * {
        width: 70px;
        text-align: center;
    }
    .top-menu a, span {
        font-size: 17px;
    }
    .main{
        margin: 0px 50px 20px 50px;
    }
    .about-me{
        margin: auto;
    }
}
@media screen and (min-width:1280px){
    #logo {
        width: 150px;
        height: auto;
        margin:0px;
    }
    .top-menu > * {
        width: 100px;
        text-align: center;
    }
    .top-menu a, span {
        font-size: 20px;
    }
    #container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .card{
        margin:10px 50px 20px 10px; 
    }
    .main{
        margin:20px 0px 20px 10px; 
    }
    .about-me{
        margin:20px 0px 20px 60px;
    }
    
}
 
 

